@layer presets {
  :root {
    display: grid;
    min-height: 100%;
    font-family: Arial, Roboto, sans-serif;
    font-size: 16px;
    line-height: 1.2;
    white-space: pre-wrap;
    white-space-collapse: preserve
  }
  a.w-element {
    box-sizing: border-box
  }
  body.w-element {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0
  }
  div.w-element {
    box-sizing: border-box
  }
  h1.w-element {
    box-sizing: border-box
  }
  p.w-element {
    box-sizing: border-box
  }
  div.w-navigation-menu {
    box-sizing: border-box
  }
  div.w-menu-list {
    box-sizing: border-box
  }
  div.w-menu-item {
    box-sizing: border-box
  }
  button.w-button {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    box-sizing: border-box;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    text-transform: none;
    margin: 0
  }
  div.w-text {
    box-sizing: border-box;
    min-height: 1em
  }
  div.w-box {
    box-sizing: border-box
  }
  div.w-html-embed {
    display: contents;
    white-space: normal;
    white-space-collapse: collapse
  }
  div.w-menu-content {
    box-sizing: border-box
  }
  a.w-link {
    box-sizing: border-box;
    display: inline-block
  }
  p.w-paragraph {
    box-sizing: border-box
  }
  div.w-menu-viewport {
    box-sizing: border-box
  }
  img.w-image {
    box-sizing: border-box;
    max-width: 100%;
    display: block;
    height: auto
  }
}
@media all {
  .c1uyowuj {
    display: flex
  }
  .c1xaawq {
    justify-content: center
  }
  .c1sv9ebm {
    align-items: center
  }
  .c1ayzjvm {
    background-color: rgb(255 255 255 / 1)
  }
  .ccqcnmt {
    position: relative
  }
  .c1tijfkt {
    text-align: center
  }
  .cbbhonn {
    font-weight: 900
  }
  .c15dddk1 {
    font-size: 8rem
  }
  .cy3mdji {
    line-height: 1
  }
  .c137qvpc {
    letter-spacing: -0.05em
  }
  .c1d9maox {
    position: absolute
  }
  .c1bukgm2 {
    top: 0
  }
  .croovlo {
    right: -0.125rem
  }
  .cpr7vok {
    bottom: 0
  }
  .c12itevy {
    left: 0.125rem
  }
  .c18aoxt3 {
    opacity: 0.3
  }
  .c1clj6k8 {
    right: 0.125rem
  }
  .c1uaem0e {
    left: -0.125rem
  }
  .c13tni9w {
    top: 50%
  }
  .c1rfce01 {
    left: 0
  }
  .c14i7eiu {
    width: 100%
  }
  .c19gzpgd {
    height: 0.375rem
  }
  .czvrw6z {
    margin-top: 1.5rem
  }
  .cd9wt8m {
    font-weight: 700
  }
  .c4whuht {
    font-size: 1.5rem
  }
  .clovega {
    line-height: 2rem
  }
  .caqrah {
    letter-spacing: 0.05em
  }
  .c15ulwb6 {
    height: 100%
  }
  .cuc61go {
    background-color: rgb(249 249 249 / 1)
  }
  .c1qm4j82 {
    width: 80%
  }
  .c1st0lcn {
    column-gap: 24px
  }
  .c1p2kov4 {
    row-gap: 24px
  }
  .cvoildy {
    flex-grow: 1
  }
  .cgmuryo {
    flex-shrink: 0
  }
  .c591fje {
    font-family: Arial, Roboto, sans-serif
  }
  .c1yfje2k {
    width: 2px
  }
  .cwr1z57 {
    height: 50lvh
  }
  .c1wz8ta5 {
    background-color: rgb(224 224 224 / 1)
  }
  .c153mbp8 {
    border-top-style: none
  }
  .c11qeywa {
    border-right-style: none
  }
  .c1x0s0f0 {
    border-left-style: none
  }
  .c8dzr98 {
    border-bottom-style: none
  }
  .crd7u9p {
    border-top-color: rgb(224 224 224 / 1)
  }
  .cuf5mnr {
    border-right-color: rgb(224 224 224 / 1)
  }
  .c1sibpxb {
    border-bottom-color: rgb(224 224 224 / 1)
  }
  .c1f5jvd0 {
    border-left-color: rgb(224 224 224 / 1)
  }
  .c1su900y {
    min-height: 50%
  }
  .c4mqdra {
    display: block
  }
  .cpr4kvk {
    flex-basis: 45%
  }
  .c31w3r6 {
    flex-direction: column
  }
  .c1l4a3y8 {
    align-items: start
  }
  .coahpvh {
    margin-left: 5%
  }
  .c19sltx8 {
    max-width: 100%
  }
  .c1ky79ns {
    flex-shrink: 1
  }
  .cito4x {
    flex-basis: 0
  }
  .c1jwonnk {
    list-style-type: none
  }
  .cz0dubf {
    row-gap: 0.25rem
  }
  .ca19okh {
    column-gap: 0.25rem
  }
  .co6l85i {
    margin: 0
  }
  .c6dt4vj {
    padding: 0
  }
  .cnbx0p {
    display: inline-flex
  }
  .c1bwetql {
    background-color: transparent
  }
  .c1k1o26d {
    border-top-left-radius: 0.375rem
  }
  .c14s5dys {
    border-top-right-radius: 0.375rem
  }
  .cfvvqx7 {
    border-bottom-right-radius: 0.375rem
  }
  .cbqry1f {
    border-bottom-left-radius: 0.375rem
  }
  .c1qawyll {
    font-size: 0.875rem
  }
  .cg4mzxw {
    line-height: 1.25rem
  }
  .cm7ipnh {
    font-weight: 500
  }
  .c1lf6x7 {
    height: 2.25rem
  }
  .c1bqpkhd {
    padding-top: 0
  }
  .cxqh096 {
    padding-right: 0.75rem
  }
  .c1fxua5b {
    padding-bottom: 0
  }
  .ct3an0q {
    padding-left: 0.75rem
  }
  .c191asrm {
    --navigation-menu-trigger-icon-transform: 0deg
  }
  .c12y8jvm {
    border: 0 solid rgb(226 232 240 / 1)
  }
  .c1v0ssuk:focus-visible {
    outline-offset: 2px
  }
  .c1bzfz6c:focus-visible {
    box-shadow: 0 0 0 2px rgb(255 255 255 / 1), 0 0 0 calc(2px + 2px) rgb(148,163,184)
  }
  .c1osnjdn:focus-visible {
    outline: 2px solid transparent
  }
  .c1yjp3hm:disabled {
    pointer-events: none
  }
  .c1ajm9ba:disabled {
    opacity: 0.5
  }
  .c16by7wx:hover {
    background-color: rgb(241 245 249 / 1)
  }
  .c1yf5rre:hover {
    color: rgb(15 23 42 / 1)
  }
  .c1nh0hw0[data-state="open"] {
    --navigation-menu-trigger-icon-transform: 180deg
  }
  .c13se400 {
    margin-left: 0.25rem
  }
  .cha70u0 {
    rotate: var(--navigation-menu-trigger-icon-transform)
  }
  .c8z56qe {
    height: 1rem
  }
  .cdgy5g {
    width: 1rem
  }
  .c49g0au {
    transition-property: all
  }
  .c1yvskw1 {
    transition-duration: 200ms
  }
  .cytk4ht {
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1)
  }
  .cz2kiag {
    transition-delay: 0s
  }
  .c1uo7dxt {
    transition-behavior: normal
  }
  .c1c7xgx7 {
    positon: absolute
  }
  .c149b819 {
    width: max-content
  }
  .c15q7ogf {
    padding: 1rem
  }
  .ccqa24j {
    row-gap: 1rem
  }
  .c1rmpn19 {
    column-gap: 1rem
  }
  .cqxnxum {
    width: 16rem
  }
  .c1wcbk0m {
    color: inherit
  }
  .c2f5gyz {
    -webkit-user-select: none;
    user-select: none
  }
  .c36sn1v {
    text-decoration-line: none
  }
  .cc2qqmj {
    outline: medium none currentcolor
  }
  .c1jj2uxl {
    padding: 0.75rem
  }
  .c46pe1u:focus {
    background-color: rgb(241 245 249 / 1)
  }
  .cbycsfa:focus {
    color: rgb(15 23 42 / 1)
  }
  .c1hycn3j {
    overflow-x: hidden
  }
  .caz0h6c {
    overflow-y: hidden
  }
  .ck9j3rw {
    display: -webkit-box
  }
  .cdj2t61 {
    -webkit-box-orient: vertical
  }
  .cdurq3g {
    -webkit-line-clamp: 2
  }
  .c16d5wrw {
    line-height: 1.375
  }
  .crf0w56 {
    color: rgb(100 116 139 / 1)
  }
  .c100mmmt {
    color: currentcolor
  }
  .culxb5o {
    top: 100%
  }
  .cfsi5cq {
    margin-top: 0.375rem
  }
  .c10xjwlq {
    color: rgb(2 8 23 / 1)
  }
  .cks8tsl {
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1)
  }
  .c1w7vfh7 {
    height: var(--radix-navigation-menu-viewport-height)
  }
  .chxvavw {
    width: var(--radix-navigation-menu-viewport-width)
  }
  .cjpzr7w {
    border: 1px solid rgb(226 232 240 / 1)
  }
  .czqvxj3 {
    padding: 0.5rem
  }
  .cybcgye {
    background-color: rgb(226 232 240 / 1)
  }
  .c154vtgj {
    width: 12rem
  }
  .cjl498a {
    font-family: Inter, Roboto, "Helvetica Neue", "Arial Nova", "Nimbus Sans", Arial, sans-serif
  }
  :root {
    --color-paper: rgb(249 247 241 / 1);
    --color-ink: rgb(26 26 26 / 1);
    --color-ink-light: rgb(74 74 74 / 1);
    --color-accent: rgb(211 47 47 / 1);
    --font-heading: Inter,Roboto,"Helvetica Neue","Arial Nova","Nimbus Sans",Arial,sans-serif;
    --font-body: Charter,"Bitstream Charter","Sitka Text",Cambria,serif;
    --h1: 4.209rem;
    --h2: 3.157rem;
    --h3: 2.369rem;
    --h4: 1.777rem;
    --h5: 1.333rem;
    --body: 1rem;
    --shadow-hard: 4px 4px 0px var(--color-ink);
    --deckle-path: polygon(0% 0%,100% 0%,100% 100%,2% 100%,0% 98%,0% 2%)
  }
  .cuh6url {
    display: inline-block
  }
  .cz7ytka {
    font-size: 2rem
  }
  .c13vaxsh {
    color: rgb(51 51 51 / 1)
  }
  .c1frhojr {
    margin-top: 10px
  }
  .c19l4rqk {
    margin-bottom: 10px
  }
  .cqfurw6 {
    padding-top: 15px
  }
  .c1oo4azz {
    padding-bottom: 20px
  }
  .c195h247 {
    transition-duration: 300ms
  }
  .c2l1wd {
    transition-timing-function: ease
  }
  .c1d14ozw {
    transition-delay: 0ms
  }
  .c398dem:hover {
    scale: 135% 135% 100%
  }
  .c1dzigng:hover {
    translate: 20px 0px 0px
  }
  .c1bf3nbn:hover {
    color: rgb(0 128 128 / 1)
  }
  .c14ti698 {
    order: 0
  }
  .covy8b5 {
    text-align: end
  }
  .cqctnv6 {
    margin-right: 5%
  }
  .c1eclhvl {
    font-size: 4.21rem
  }
  .c4uptko {
    color: var(--color-ink)
  }
  .c1nrnkrz {
    font-size: var(--h1)
  }
  .c1hn7fn4 {
    width: 200px
  }
}
@media all and (max-width: 991px) {
  .cruh4qp {
    padding-left: 24px
  }
  .clh81yt {
    padding-right: 24px
  }
}
@media all and (max-width: 767px) {
  .cn6yz7i {
    flex-direction: column
  }
  .cwziewr {
    text-align: center
  }
  .c14vkmjz {
    width: 50lvw
  }
  .c1ejzol2 {
    height: 2px
  }
  .csp7qj4 {
    align-items: center
  }
  .c1ac93e9 {
    justify-content: center
  }
  .c1n01kw7:hover {
    translate: none
  }
  .cycrw65 {
    flex-grow: 0
  }
  .cythjak {
    flex-shrink: 1
  }
  .c1jgyc2e {
    margin-right: 0
  }
  .c1wyaa0n {
    margin-bottom: 2rem
  }
}
@media all and (max-width: 479px) {
  .cu0pw22 {
    font-size: 1em
  }
}