@layer presets {
  :root {
    display: grid;
    min-height: 100%;
    font-family: Arial, Roboto, sans-serif;
    font-size: 16px;
    line-height: 1.2;
    white-space: pre-wrap;
    white-space-collapse: preserve
  }
  a.w-element {
    box-sizing: border-box
  }
  body.w-element {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0
  }
  div.w-element {
    box-sizing: border-box
  }
  h1.w-element {
    box-sizing: border-box
  }
  p.w-element {
    box-sizing: border-box
  }
}
@media all {
  .c1uyowuj {
    display: flex
  }
  .c1xaawq {
    justify-content: center
  }
  .c1sv9ebm {
    align-items: center
  }
  .c1ayzjvm {
    background-color: rgb(255 255 255 / 1)
  }
  .ccqcnmt {
    position: relative
  }
  .c1tijfkt {
    text-align: center
  }
  .cbbhonn {
    font-weight: 900
  }
  .c15dddk1 {
    font-size: 8rem
  }
  .cy3mdji {
    line-height: 1
  }
  .c137qvpc {
    letter-spacing: -0.05em
  }
  .c1d9maox {
    position: absolute
  }
  .c1bukgm2 {
    top: 0
  }
  .croovlo {
    right: -0.125rem
  }
  .cpr7vok {
    bottom: 0
  }
  .c12itevy {
    left: 0.125rem
  }
  .c18aoxt3 {
    opacity: 0.3
  }
  .c1clj6k8 {
    right: 0.125rem
  }
  .c1uaem0e {
    left: -0.125rem
  }
  .c13tni9w {
    top: 50%
  }
  .c1rfce01 {
    left: 0
  }
  .c14i7eiu {
    width: 100%
  }
  .c19gzpgd {
    height: 0.375rem
  }
  .czvrw6z {
    margin-top: 1.5rem
  }
  .cd9wt8m {
    font-weight: 700
  }
  .c4whuht {
    font-size: 1.5rem
  }
  .clovega {
    line-height: 2rem
  }
  .caqrah {
    letter-spacing: 0.05em
  }
  .cuh6url {
    display: inline-block
  }
  .cz7ytka {
    font-size: 2rem
  }
  .c13vaxsh {
    color: rgb(51 51 51 / 1)
  }
  .c1frhojr {
    margin-top: 10px
  }
  .c19l4rqk {
    margin-bottom: 10px
  }
  .cqfurw6 {
    padding-top: 15px
  }
  .c1oo4azz {
    padding-bottom: 20px
  }
  .c36sn1v {
    text-decoration-line: none
  }
  .c49g0au {
    transition-property: all
  }
  .c195h247 {
    transition-duration: 300ms
  }
  .c2l1wd {
    transition-timing-function: ease
  }
  .c1d14ozw {
    transition-delay: 0ms
  }
  .c1uo7dxt {
    transition-behavior: normal
  }
  .c398dem:hover {
    scale: 135% 135% 100%
  }
  .c1bf3nbn:hover {
    color: rgb(0 128 128 / 1)
  }
  .c1dzigng:hover {
    translate: 20px 0px 0px
  }
  .c15ulwb6 {
    height: 100%
  }
  .cuc61go {
    background-color: rgb(249 249 249 / 1)
  }
  .c1qm4j82 {
    width: 80%
  }
  .c4mqdra {
    display: block
  }
  .c14ti698 {
    order: 0
  }
  .cpr4kvk {
    flex-basis: 45%
  }
  .covy8b5 {
    text-align: end
  }
  .cqctnv6 {
    margin-right: 5%
  }
  .c1j11voy {
    font-family: Bahnschrift, "DIN Alternate", "Franklin Gothic Medium", "Nimbus Sans Narrow", sans-serif-condensed, sans-serif
  }
  .c591fje {
    font-family: Arial, Roboto, sans-serif
  }
  .c1yfje2k {
    width: 2px
  }
  .cwr1z57 {
    height: 50lvh
  }
  .c1wz8ta5 {
    background-color: rgb(224 224 224 / 1)
  }
  .c153mbp8 {
    border-top-style: none
  }
  .c11qeywa {
    border-right-style: none
  }
  .c1x0s0f0 {
    border-left-style: none
  }
  .c8dzr98 {
    border-bottom-style: none
  }
  .crd7u9p {
    border-top-color: rgb(224 224 224 / 1)
  }
  .cuf5mnr {
    border-right-color: rgb(224 224 224 / 1)
  }
  .c1sibpxb {
    border-bottom-color: rgb(224 224 224 / 1)
  }
  .c1f5jvd0 {
    border-left-color: rgb(224 224 224 / 1)
  }
  .c1su900y {
    min-height: 50%
  }
  .c31w3r6 {
    flex-direction: column
  }
  .c1l4a3y8 {
    align-items: start
  }
  .coahpvh {
    margin-left: 5%
  }
}
@media all and (max-width: 767px) {
  .c1n01kw7:hover {
    translate: none
  }
  .cn6yz7i {
    flex-direction: column
  }
  .cwziewr {
    text-align: center
  }
  .cycrw65 {
    flex-grow: 0
  }
  .cythjak {
    flex-shrink: 1
  }
  .c1jgyc2e {
    margin-right: 0
  }
  .c1wyaa0n {
    margin-bottom: 2rem
  }
  .c14vkmjz {
    width: 50lvw
  }
  .c1ejzol2 {
    height: 2px
  }
  .csp7qj4 {
    align-items: center
  }
  .c1ac93e9 {
    justify-content: center
  }
}